/node_modules
/resources/assets/js/vue-i18n-locales.generated.js
public/css
public/js
public/core-assets
public/app-assets
public/fonts
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
